<NavBar />
<div class="container h-100">
    <div class="row align-items-center h-100">
        {{outlet}}
    </div>
</div>
<footer class="footer">
    <div class="container">
        <span>&copy; Skyori, 2020</span>
    </div>
</footer>